.titulo-principal{
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.dados-iniciais{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    align-items: flex-end;
}

.remover-produto{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-end;
}

.dados-alterados{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-end;
}



.tabela-produtos{
    border-collapse: collapse;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela-produtos  td{
    border: 1px solid black;
    padding: 5px 13px;
}

.titulos-tabela{
    background-color: #f1f1f1;
    font-weight: 700;
}

